In [12]:
from jakteristics import las_utils, compute_features, FEATURE_NAMES
import pandas as pd
import warnings
import plyfile

warnings.filterwarnings("ignore")

In [37]:
pickle_file = "C:\\Users\\Vidhish17\\Desktop\\20Credit\\data\\paris-lille-10\\training_10_classes\\Paris.ply"
selected_features = ['eigenvalue_sum', 'omnivariance', 'eigenentropy', 'anisotropy', 'planarity', 'linearity', 'PCA1', 'PCA2', 'surface_variation', 'sphericity', 'verticality', 'nx', 'ny', 'nz']

In [9]:
print(FEATURE_NAMES)

['eigenvalue_sum', 'omnivariance', 'eigenentropy', 'anisotropy', 'planarity', 'linearity', 'PCA1', 'PCA2', 'surface_variation', 'sphericity', 'verticality', 'nx', 'ny', 'nz', 'number_of_neighbors', 'eigenvalue1', 'eigenvalue2', 'eigenvalue3', 'eigenvector1x', 'eigenvector1y', 'eigenvector1z', 'eigenvector2x', 'eigenvector2y', 'eigenvector2z', 'eigenvector3x', 'eigenvector3y', 'eigenvector3z']

In [ ]:
points = plyfile.PlyData.read(pickle_file)

'ply\nformat binary_little_endian 1.0\nelement vertex 38332543\nproperty float x\nproperty float y\nproperty float z\nproperty uchar reflectance\nproperty int class\nend_header'

In [29]:
data = points.elements[0].data.tolist()

In [30]:
df = pd.DataFrame([(row[0], row[1], row[2], row[4]) for row in data], columns=['x', 'y', 'z', 'class'])

In [32]:
df.describe()

                  x             y             z         class
count  3.833254e+07  3.833254e+07  3.833254e+07  3.833254e+07
mean   3.872080e+01 -5.376184e+02  4.513887e+01  3.089640e+00
std    9.396722e+00  1.397044e+02  4.548500e+00  3.106813e+00
min    9.483119e+00 -7.642166e+02  3.339712e+01  0.000000e+00
25%    3.229097e+01 -6.682284e+02  4.160466e+01  1.000000e+00
50%    3.855150e+01 -5.206370e+02  4.394136e+01  2.000000e+00
75%    4.570286e+01 -4.202990e+02  4.730579e+01  6.000000e+00
max    7.065986e+01 -3.139317e+02  6.529382e+01  9.000000e+00

In [33]:
classes = df['class'].unique()
classes

array([2, 9, 0, 6, 1, 4, 7, 3, 5, 8])

In [34]:
xyz = df.drop(columns=['class']).astype("float").values

In [35]:
xyz

array([[  38.01086044, -759.43688965,   47.55187607],
       [  38.19459152, -759.71289062,   47.73124313],
       [  39.45787048, -759.98883057,   48.10280609],
       ...,
       [  70.12004852, -322.21774292,   44.11930466],
       [  70.55847931, -322.22702026,   43.89970779],
       [  69.8946991 , -322.19656372,   43.73476028]], shape=(38332543, 3))

In [38]:
%%time

features = compute_features(xyz, search_radius=0.25, feature_names=selected_features)

CPU times: total: 1h 17min 57s
Wall time: 10min 32s

In [40]:
features = pd.DataFrame(features, columns=selected_features)

In [42]:
points_with_features = pd.concat([df, features], axis=1)
points_with_features

,x,y,z,class,eigenvalue_sum,omnivariance,eigenentropy,anisotropy,planarity,linearity,PCA1,PCA2,surface_variation,sphericity,verticality,nx,ny,nz
0,38.010860,-759.436890,47.551876,2,0.030866,4.410375e-03,0.130472,0.976668,0.902223,0.074445,0.513113,0.474915,1.197210e-02,2.333228e-02,0.968691,-0.852680,-0.521494,0.031309
1,38.194592,-759.712891,47.731243,2,0.031821,4.130238e-03,0.133154,0.982798,0.892979,0.089819,0.518838,0.472237,8.924961e-03,1.720182e-02,0.974294,-0.852125,-0.522707,0.025706
2,39.457870,-759.988831,48.102806,2,0.025198,4.048316e-03,0.110574,0.970164,0.425325,0.544839,0.673402,0.306506,2.009170e-02,2.983611e-02,0.969052,0.852509,0.521796,-0.030948
3,38.797729,-760.495361,48.254593,2,0.021481,4.657553e-03,0.099432,0.917977,0.345297,0.572680,0.662540,0.283117,5.434349e-02,8.202296e-02,0.959244,-0.990181,-0.133717,0.040756
4,38.649300,-760.863220,48.423813,2,0.026233,6.668315e-03,0.119398,0.840109,0.746951,0.093158,0.483855,0.438780,7.736424e-02,1.598912e-01,0.981477,-0.983450,0.180229,-0.018523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38332538,70.166847,-322.209015,44.214043,0,0.022408,7.428934e-06,0.085731,1.000000,0.004285,0.995715,0.995733,0.004267,8.576515e-09,8.613267e-09,0.573701,-0.776894,-0.463362,0.426299
38332539,70.138596,-322.204620,44.167412,0,0.002844,2.392878e-09,0.016855,1.000000,0.011885,0.988115,0.988254,0.011746,5.131230e-17,5.192217e-17,0.573938,0.775666,0.465632,-0.426062
38332540,70.120049,-322.217743,44.119305,0,0.002844,2.392878e-09,0.016855,1.000000,0.011885,0.988115,0.988254,0.011746,5.131230e-17,5.192217e-17,0.573938,0.775666,0.465632,-0.426062
38332541,70.558479,-322.227020,43.899708,0,0.008328,1.479570e-08,0.042962,1.000000,0.138702,0.861298,0.878193,0.121807,5.241814e-17,5.968866e-17,0.737878,-0.437724,0.860052,0.262122
38332542,69.894699,-322.196564,43.734760,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# points_with_features.to_csv("C:\\Users\\Vidhish17\\Desktop\\20Credit\\data\\paris-lille-10\\training_10_classes\\Paris_features.csv")

In [44]:
nan_rows = points_with_features[points_with_features.isna().any(axis=1)]
nan_rows

,x,y,z,class,eigenvalue_sum,omnivariance,eigenentropy,anisotropy,planarity,linearity,PCA1,PCA2,surface_variation,sphericity,verticality,nx,ny,nz
3524,39.961296,-760.877075,55.963749,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3851,40.442993,-762.179016,57.627483,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4870,40.463726,-761.312988,59.149174,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4995,41.738346,-761.032104,58.564198,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5261,39.854744,-761.624939,60.742523,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38331331,62.620964,-318.465576,42.173843,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38332045,63.677933,-316.826447,42.098881,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38332413,64.235146,-318.245117,42.546524,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38332535,70.645187,-322.211761,44.233875,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38332542,69.894699,-322.196564,43.734760,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
len(nan_rows)/len(points_with_features) * 100

0.05461938697883936

In [46]:
points_with_features_clean = points_with_features.dropna()
points_with_features_clean

,x,y,z,class,eigenvalue_sum,omnivariance,eigenentropy,anisotropy,planarity,linearity,PCA1,PCA2,surface_variation,sphericity,verticality,nx,ny,nz
0,38.010860,-759.436890,47.551876,2,0.030866,4.410375e-03,0.130472,0.976668,0.902223,0.074445,0.513113,0.474915,1.197210e-02,2.333228e-02,0.968691,-0.852680,-0.521494,0.031309
1,38.194592,-759.712891,47.731243,2,0.031821,4.130238e-03,0.133154,0.982798,0.892979,0.089819,0.518838,0.472237,8.924961e-03,1.720182e-02,0.974294,-0.852125,-0.522707,0.025706
2,39.457870,-759.988831,48.102806,2,0.025198,4.048316e-03,0.110574,0.970164,0.425325,0.544839,0.673402,0.306506,2.009170e-02,2.983611e-02,0.969052,0.852509,0.521796,-0.030948
3,38.797729,-760.495361,48.254593,2,0.021481,4.657553e-03,0.099432,0.917977,0.345297,0.572680,0.662540,0.283117,5.434349e-02,8.202296e-02,0.959244,-0.990181,-0.133717,0.040756
4,38.649300,-760.863220,48.423813,2,0.026233,6.668315e-03,0.119398,0.840109,0.746951,0.093158,0.483855,0.438780,7.736424e-02,1.598912e-01,0.981477,-0.983450,0.180229,-0.018523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38332537,70.292259,-322.240082,44.408875,0,0.030822,6.696880e-09,0.107827,1.000000,0.002746,0.997254,0.997262,0.002738,3.756308e-18,3.766622e-18,0.577370,-0.773551,-0.472232,0.422630
38332538,70.166847,-322.209015,44.214043,0,0.022408,7.428934e-06,0.085731,1.000000,0.004285,0.995715,0.995733,0.004267,8.576515e-09,8.613267e-09,0.573701,-0.776894,-0.463362,0.426299
38332539,70.138596,-322.204620,44.167412,0,0.002844,2.392878e-09,0.016855,1.000000,0.011885,0.988115,0.988254,0.011746,5.131230e-17,5.192217e-17,0.573938,0.775666,0.465632,-0.426062
38332540,70.120049,-322.217743,44.119305,0,0.002844,2.392878e-09,0.016855,1.000000,0.011885,0.988115,0.988254,0.011746,5.131230e-17,5.192217e-17,0.573938,0.775666,0.465632,-0.426062
38332541,70.558479,-322.227020,43.899708,0,0.008328,1.479570e-08,0.042962,1.000000,0.138702,0.861298,0.878193,0.121807,5.241814e-17,5.968866e-17,0.737878,-0.437724,0.860052,0.262122

In [47]:
points_with_features_clean.to_csv("C:\\Users\\Vidhish17\\Desktop\\20Credit\\data\\paris-lille-10\\training_10_classes\\Paris_features_clean.csv")